@font-face {
  font-family: TradeGothic;
  src: url('../public/TradeGothicRegular.otf');
}


html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000000 url('../public/stars.jpg');
  background-size: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
}

.gradient_white{
  height: 200px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
  background-size: 100%;
  background-repeat: repeat;
}

.startanim{
  width: 100%;
  height: 100%;
}

.home-box{
  background: transparent url('../public/home.jpg');
  background-size: cover;
  background-position: center top;
}

.herobox{
  height: 100%;
  color: #65d3ea;
  font-family: TradeGothic;
  text-align: center;
  font-size: 70px;;
}

.carousel-item img{
  width: 100%;
}












.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root{
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
